<?xml version="1.0"?>
<!--        /**-->
<!--        * @author DiggEcard Team-->
<!--        * @copyright Copyright (c) 2020 DiggEcard (https://diggecard.com)-->
<!--        */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Diggecard_KlarnaPaymentsIntegration" setup_version="0.0.1"/>
    <sequence>
        <module name="Klarna_Core"/>
        <module name="Klarna_Kp"/>
    </sequence>
</config>
